ul.navbar-nav {
	margin-left: 1rem;
}

ul.navbar-nav > li.nav-item {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* carousel */
div.carousel ul.carousel-indicators li {
	background: #fe980f;
	border : 1px;
	width:10px;
	height:10px;
	border-radius: 100%;
} 

div.carousel  a:hover {
	background : #C2C2C1;
	opacity: 0.5;
}

div.carousel .carousel-inner .carousel-item{
	overflow: hidden;
}

div.carousel .carousel-inner div.carousel-item div.col-sm-6 {
	float: left;
}

/* footer */
div.footer {
	margin-top: 2rem;
	padding-top: 2rem; 
	padding-bottom: 2rem; 
	background: #F0F0E9;
}
div.footer div.row div.col-sm-2 ul > a.test {
	display: block;
	padding: 0;
	color : red;
}

